.Pizza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 50px;
}
.base {
  width: fit-content;
  height: fit-content;
  border: 20px solid #ffbf80;
  border-radius: 100%;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 0px 0px 4px 3px #e78267;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.crust {
  width: 300px;
  height: 300px;
  margin: auto;
  border: 16px solid #cc2900;
  border-radius: 100%;
  background-image: radial-gradient(#ffeb99, #ffdb4d, #ffe680);
}
.pepperoniLayer {
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  opacity: 1;
  border-radius: 100%;
  background-color: transparent;
}
.chickenLayer {
  width: 300px;
  height: 300px;
  position: relative;
  opacity: 1;
  margin-top: -286px;
  border-radius: 100%;
  background-color: transparent;
}
.onionLayer {
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  opacity: 1;
  border-radius: 100%;
  background-color: transparent;
  margin-top: -300px;
}
.pepperoni {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #8c0000;
  background-image: linear-gradient(to left, rgb(179, 0, 0), #800000);
  position: absolute;
}
.onion {
  width: 40px;
  height: 55px;
  border-radius: 80%;
  border-right: 8px solid #ff80aa;
  position: absolute;
  opacity: 0.6;
}
.chicken {
  width: 25px;
  height: 30px;
  border-radius: 10%;
  border: 0.5px solid #a2401e;
  background-color: #a2401e;
  background-image: linear-gradient(to right, #a2401e, #e38768);
  position: absolute;
  transform: rotate(20deg);
}

.chicken1 {
  position: absolute;
  top: 10px;
  left: 105px;
}
.onion1 {
  position: absolute;
  top: 133px;
  left: 16px;
}
.onion2 {
  position: absolute;
  top: 205px;
  left: 118px;
}
.onion3 {
  position: absolute;
  top: 108px;
  left: 90px;
}
.onion4 {
  position: absolute;
  top: 132px;
  left: 246px;
}
.onion5 {
  position: absolute;
  top: 12px;
  left: 186px;
}
.onion6 {
  position: absolute;
  top: 120px;
  left: 144px;
}
.onion7 {
  position: absolute;
  top: 32px;
  left: 113px;
}
.onion8 {
  position: absolute;
  top: 76px;
  left: 40px;
}
.pepperoni1 {
  position: absolute;
  top: 50px;
  left: 40px;
}
.chicken5 {
  position: absolute;
  top: 125px;
  left: 18px;
}
.pepperoni2 {
  position: absolute;
  top: 198px;
  left: 42px;
}
.chicken2 {
  position: absolute;
  top: 240px;
  left: 112px;
}
.pepperoni3 {
  position: absolute;
  top: 215px;
  left: 192px;
}
.chicken3 {
  position: absolute;
  top: 160px;
  left: 238px;
}
.pepperoni4 {
  position: absolute;
  top: 80px;
  left: 235px;
}
.chicken6 {
  position: absolute;
  top: 28px;
  left: 185px;
}
.chicken4 {
  position: absolute;
  top: 100px;
  left: 90px;
}
.pepperoni5 {
  position: absolute;
  top: 100px;
  left: 175px;
}
.pepperoni6 {
  position: absolute;
  top: 165px;
  left: 132px;
}

/* olive */
.olive {
  width: 10px;
  height: 10px;
  border: 8px solid #080808;
  border-radius: 100%;
}
.capsicum {
  width: 11px;
  height: 38px;
  border-radius: 72%;
  border-left: 7px solid #20a14b;
  transform: rotate(25deg);
  background-color: transparent;
  border-bottom: 4px solid #20a14b;
  border-top: 4px solid #20a14b;
}
.capsicumLayer {
  width: 300px;
  height: 300px;
  position: relative;
  opacity: 1;
  margin-top: -299px;
  border-radius: 100%;
  background-color: transparent;
}

.oliveLayer {
  width: 300px;
  height: 300px;
  position: relative;
  opacity: 1;
  margin-top: -305px;
  border-radius: 100%;
  background-color: transparent;
}

.olive1 {
  position: absolute;
  top: 23px;
  left: 69px;
}
.capsicum1 {
  position: absolute;
  top: 83px;
  left: 20px;
}
.olive2 {
  position: absolute;
  top: 183px;
  left: 15px;
}
.capsicum2 {
  position: absolute;
  top: 228px;
  left: 82px;
}
.olive3 {
  position: absolute;
  top: 260px;
  left: 168px;
}
.olive4 {
  position: absolute;
  top: 213px;
  left: 242px;
}
.capsicum3 {
  position: absolute;
  top: 98px;
  left: 272px;
}
.olive5 {
  position: absolute;
  top: 53px;
  left: 238px;
}
.capsicum4 {
  position: absolute;
  top: 0px;
  left: 160px;
}
.olive6 {
  position: absolute;
  top: 73px;
  left: 172px;
}
.olive7 {
  position: absolute;
  top: 73px;
  left: 98px;
}
.capsicum5 {
  position: absolute;
  top: 139px;
  left: 70px;
}
.olive8 {
  position: absolute;
  top: 195px;
  left: 105px;
}
.olive9 {
  position: absolute;
  top: 198px;
  left: 179px;
}
.capsicum6 {
  position: absolute;
  top: 140px;
  left: 215px;
}
.capsicum7 {
  position: absolute;
  top: 90px;
  left: 145px;
}

.hideLayer {
  opacity: 0;
}
.mealOption {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fries {
  height: 180px;
  margin-top: 29px;
}
.drinkContainer {
  margin: 0px 42px;
}
.coolDrink {
  height: 220px;
}
.cupcake {
  height: 160px;
  margin-top: 60px;
}
.plusContainer {
  margin: 32px 0px;
}
.addIcon {
  height: 75px;
  width: 75px;
}
