.Pizza {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Pizza {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Pizza {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Pizza {
        width: 700px;
        height: 600px;
    }
}
.crust {
    width: 500px;
    height: 500px;
    background: burlywood;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
  }
  
  .cheese {
    width: 400px;
    height: 400px;
    background: gold;
    border-radius: 200px;
    position: relative;
    top: -450px;
    left: 50px;
  }
  
  .pepperoni {
    width: 75px;
    height: 75px;
    background: firebrick;
    border-radius: 37.5px;
  }
  
  .pep1 {
    position: relative;
    top: -800px;
    left: 125px;
  }
  
  .pep2 {
    position: relative;
    top: -730px;
    left: 80px;
  }
  
  .pep3 {
    position: relative;
    top: -700px;
    left: 215px;
  }
  
  .pep4 {
    position: relative;
    top: -925px;
    left: 210px;
  }
  
  .pep5 {
    position: relative;
    top: -1100px;
    left: 300px;
  }
  
  .pep6 {
    position: relative;
    top: -1027px;
    left: 350px;
  }
  
  