.Pizza {
    width: 100%;
    margin:auto;
    height: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Pizza {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Pizza {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Pizza {
        width: 700px;
        height: 600px;
    }
}
.teig{
  width:300px;
  height:300px;
  margin:auto;
  border:15px solid #ffa64d;
  border-radius:100%;
  background-color: #ffff00;
}
.salamiLayer{
  width:300px;
  height:300px;
  position:absolute;
  margin:202px 120px;
  top:0px;
  left:0px;
  opacity:1;
  border-radius:100%;
  background-color:transparent;
}
.chickenLayer{
  width:300px;
  height:300px;
  position:absolute;
  margin:202px 132px;
  top:0px;
  left:0px;
  opacity:1;
  border-radius:100%;
  background-color:transparent;
}
.salami {
  width: 40px;
  height:40px;
  border-radius:100%;
  border:0.5px solid #8c0000;
  background-color:#b30000;
  position:absolute;
}
.chicken {
  width: 25px;
  height:30px;
  border-radius:10%;
  border:0.5px solid #A2401E;
  background-color: #A2401E;
  position:absolute;
  transform: rotate(20deg);
}

.chicken1 {
  position:absolute;
  top:10px;
  left:105px;
}

.salami1{
  position:absolute;
  top:10px;
  left:105px;
}
.salami1{
  position:absolute;
  top:50px;
  left:40px;
}
.chicken5{
  position:absolute;
  top:125px;
  left:18px;
}
.salami2{
  position:absolute;
  top:198px;
  left:42px;
}
.chicken2{
  position:absolute;
  top:240px;
  left:112px;
}
.salami3{
  position:absolute;
  top:215px;
  left:192px;
}
.chicken3{
  position:absolute;
  top:160px;
  left:238px;
}
.salami4{
  position:absolute;
  top:80px;
  left:235px;
}
.chicken6{
  position:absolute;
  top:28px;
  left:185px;
}
.chicken4{
  position:absolute;
  top:100px;
  left:90px;
}
.salami5{
  position:absolute;
  top:100px;
  left:175px;
}
.salami6{
  position:absolute;
  top:165px;
  left:132px;
}


/* oliven */
.oliven{
  width:10px;
  height:10px;
  border:8px solid #080808;
  border-radius:100%;
}
.capsicum {
  width: 10px;
  height: 25px;
  transform: rotate(20deg);
  background-color: #20A14B;
}
.capsicumLayer {
width:300px;
  height:300px;
  position:absolute;
  margin:195px 118px;
  top:0px;
  left:0px;
  opacity:1;
  border-radius:100%;
  background-color:transparent;
}

.olivenLayer{
  width:300px;
  height:300px;
  position:absolute;
  margin:195px 118px;
  top:0px;
  left:0px;
  opacity:1;
  border-radius:100%;
  background-color:transparent;
}

.oliven1{
  position:absolute;
  top:23px;
  left:69px;
}
.capsicum1{
  position:absolute;
  top:93px;
  left:20px;
}
.oliven2{
  position:absolute;
  top:183px;
  left:15px;
}
.capsicum2{
  position:absolute;
  top:253px;
  left:75px;
}
.oliven3{
  position:absolute;
  top:260px;
  left:168px;
}
.oliven4{
  position:absolute;
  top:213px;
  left:242px;
}
.capsicum3{
  position:absolute;
  top:133px;
  left:270px;
}
.oliven5{
  position:absolute;
  top:53px;
  left:238px;
}
.capsicum4{
  position:absolute;
  top:13px;
  left:160px;
}
.oliven6{
  position:absolute;
  top:73px;
  left:172px;
}
.oliven7{
  position:absolute;
  top:73px;
  left:98px;
}
.capsicum5{
  position:absolute;
  top:139px;
  left:70px;
}
.oliven8{
  position:absolute;
  top:195px;
  left:105px;
}
.oliven9{
  position:absolute;
  top:198px;
  left:179px;
}
.capsicum6{
  position:absolute;
  top:140px;
  left:215px;
}
.capsicum7{
  position:absolute;
  top:135px;
  left:145px;
}