.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}


.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.More {
    background-color: green;
    border: 1px solid green;

}
.More:hover {
    background-color: white;
    color: green;
}
.Less {
    background-color: red;
    border: 1px solid red;
}
.Less:hover {
    background-color: white;
    color: red;
}
.controlButton {
    cursor: pointer;
    color: white;
    padding: 0px 8px;
    padding-bottom: 2px;
}